/* ============================================== */
/*                VARIÁVEIS E CORES               */
/* ============================================== */

:root {
    --primary-color: #C24141;
    --secondary-color: #DAD6CB;
    --terciary-color: #9C9374;
    --lighter-terciary: #EFECE1;
    --background: #F8F7F4;
}

/* 9C9374 */
/*E1DBC4*/

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.terciary-text {
    color: var(--terciary-color);
}

.lighter-terciary-text {
    color: var(--terciary-color);
}

.cold-background {
    background-color: #EAEAEA;
}

.grayish-background {
    background-color: #E9E6D7;
}

/* ============================================== */
/*                     GERAL                      */
/* ============================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    background-color: var(--background);
    margin: 0;
}

hr {
    background-color: var(--secondary-color);
    border: none;
    height: 1.3px;
}

b {
    color: var(--primary-color);
}

.w-fit-content {
    width: fit-content;
}

/* ============================================== */
/*                    LAYOUT                      */
/* ============================================== */

.container {
    min-height: 100vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 1048px;
    margin: 1rem 0;
}

.box-outline {
    border: 1px solid var(--lighter-terciary);
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-1-andhalf {
    flex: 1.5;
}

.flex-1 {
    flex: 1;
}

.flex-5 {
    flex: 3;
}

.flex-9 {
    flex: 9;
}

.justify-content-end {
    justify-content: end;
}

/*TODO: ACHAR NOME MELHOR OU TROCAR PROPRIEDADE DE SEGMENTO*/
#description-paragraph {
    margin: 2rem 10rem;
}

.m4-top {
    margin-top: 4rem;
}

.m1-top {
    margin-top: 1rem;
}

.m2-bottom {
    margin-bottom: 2rem;
}

.m1-bottom {
    margin-bottom: 1rem;
}

.p-1rem {
    padding: 1rem;
}

.p-2rem {
    padding: 2rem;
}

.p-10px {
    padding: 10px;
}

/* ============================================== */
/*                     TEXTO                      */
/* ============================================== */

.manrope-extrabold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.manrope-medium {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#principal-text {
    font-size: 110px;
}

.ln-height-1 {
    line-height: 1;
}

.ln-height-1andhalf {
    line-height: 1.5;
}

.small-sz-text {
    font-size: 14px;
}

.normal-sz-text {
    font-size: 16px;
}

.big-sz-text {
    font-size: 24px;
}

.bigger-sz-text {
    font-size: 32px;
}

.extra-sz-text {
    font-size: 48px;
}

.extra-sz-text {
    font-size: 64px;
}

.extraLarge-sz-text {
    font-size: 96px;
}

.text-center {
    text-align: center;
}

/*TODO: Rever isso da opacidade (ou mudar a cor da variável ou tirá-la)*/
.light-gray-text {
    color: #141414;
    opacity: 20%;
}

.gray-text {
    color: #76736C;
}

.text-divisor {
    display: flex;
    flex-direction: row;
    /* text-align: start; */
    align-items: center; 
    justify-content: start; 
    gap: 10px; 
    width: 100%;
    margin-bottom: 1rem;
}

.text-divisor::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--secondary-color);
}

/* ============================================== */
/*                    BOTÕES                      */
/* ============================================== */

.btn {
    border-radius: 30px;
    padding: 1em 2rem;
    margin: 0.5em auto;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.btn-primary {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: white;
    -webkit-font-smoothing: antialiased; 
    transition: transform 0.3s ease;
}

.btn-terciary {
    padding: 1rem 4rem;
    background-color: var(--lighter-terciary);
    color: var(--primary-color);
    transition: transform 0.3s ease;
}

.btn-terciary:hover  {
    box-shadow: 0px 0px 10px #9C9374;
    transform: scale(1.1);
}

.btn-primary:hover {
    background-color: #ac2222;
    transform: scale(1.2);   
}


/* ============================================== */
/*                    RODAPÉ                      */
/* ============================================== */

footer {
    text-align: center; 
    padding: 1.5rem;
    margin-top: auto;
    font-size: 0.875rem;
    color: var(--primary-color);
}

/* ============================================== */
/*                     CARDS                      */
/* ============================================== */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 25%));
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.card {
    background-color: #F1EFE8;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card div {
    margin: 10px 0;
}

.card-top {
    display: flex;
    flex-direction: row;
    line-height: 1;
}

.card-top span:first-child {
    font-size: 36px;
    flex: 1;
}

.axiom-name {
    color: var(--primary-color);
    font-size: 20px;

    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
}

.card-formula {
    width: 100%;
    padding: 12px;

    background-color: #E9E6D7;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*TODO: POR ENQUANTO SEM UTILIDADE*/
.card-text {
    text-align: center;
}