<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <!-- ÍCONES -->
    <script src="https://kit.fontawesome.com/8d6616bdf0.js" crossorigin="anonymous"></script>
     
</head>
<body class="inter-medium">
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <footer>
        <p>FUNDAMENTOS MATEMÁTICOS PARA CIÊNCIA DA COMPUTAÇÃO 2</p>
        <p>Computação@UFCG</p>
    </footer>
</body>
</html>